# Python
## python variable
## python data types
## list, dictionaries, packages, numpy, slicing

In [1]:
#my first python program

print("Namaste Vadodara")

Namaste Vadodara

In [3]:
#variable and data types

var1 = 12  # delcare int value
var2 = 200.50 #declare floating value
var3 = "Intel" #declare string
var4 = True #declare Character

print (var1)
print (var2)
print (var3)
print(var4)

12
200.5
Intel
True

In [4]:
#print the data types of variable
print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
var5 = var1/4
var6 = var1 * var2

In [6]:
print(var5)
print(var6)

3.0
2406.0

In [7]:
#use input keyword to take input from user

#aks user to enter the value and store it in varialbe x

x = int(input("Enter the value of x : "))

#aks user to enter the value and store it in varialbe y

y = int(input("Enter the value of y : "))

#perform multiplication of x and y and store answer in variable Z

z = x*y

#Print answer

print(z)

Enter the value of x : 12
Enter the value of y : 45
540

In [13]:
#string Concatenation

str1 = "PARUL "
print(str1)
print(type(str1))

str2 = "University"
print(str2)
print(type(str2))

#concatenation of str1 and str2 and store in str3
str3 = str1 + str2

print(str3)

PARUL
<class 'str'>
University
<class 'str'>
PARUL University

In [ ]:
#string indexing and slicing

   # U N I V E R S I T Y
    
    #0 1 2 3 4
    
    #-5 -4 -3 -2 -1

            
            
String                      U  N  I  V  E  R  S  I  T  Y
            
Slice from Front            0  1  2  3  4  5  6  7  8  9     Index from Front
            
Slice from rear           -10 -9 -8 -7 -6 -5 -4 -3 -2 -1     Index From rear

In [10]:
name = "university"

print(name)
print(len(name))

university
10

In [11]:
name[3]

'v'

In [14]:
name[1:5]

'nive'

In [15]:
name[:6]

'univer'

In [17]:
name[5:]

'rsity'

In [20]:
name[-10:-1]

'universit'

# Tuples in Python 

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.
Foramt 

Tuple = (val1, val2, val2,....)

In [1]:
#create tuples -

tup1 = ("parul", 22, "Bharat", 45.5, "vadodara", 99)

print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [24]:
tup1[4]

'vadodara'

In [25]:
tup1[2:4]

('Bharat', 45.5)

In [27]:
tup2=("python", 87)

tup3 = tup1 + tup2
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'python', 87)

In [28]:
#immutable 

del tup3[3]
print(tup3)

TypeError: 'tuple' object doesn't support item deletion

# List in Python
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [30]:
#create list



lst1 = ["parul", 22, "Bharat", 45.5, "vadodara", 99]
lst1

print(type(lst1))

<class 'list'>

In [31]:
lst1[3]

45.5

In [32]:
len(lst1)

6

In [33]:
lst1.remove(22)

In [34]:
lst1

['parul', 'Bharat', 45.5, 'vadodara', 99]

In [36]:
del lst1[0]
lst1

['Bharat', 45.5, 'vadodara', 99]

# Disctionary
Dictionaries are used to store data values in key:value pairs.
Dictionaries are written with curly brackets, and have keys and values:

In [5]:
dict1 = { "University" : "Parul", "Course" : "Artificial Intelligence", "Branch": "Electronics"}
print(dict1)

dict2 = { 1 : "Parul", 2 : "Artificial Intelligence", 3: "Electronics"}
print(dict2)

#print only key values
print(dict2.keys())

#print only values
print(dict2.values())

# create dictionary with single value
dict3 = {}
dict3 ['one'] = "This is an value of Key ONE"
dict3 [2] = "This is TWO "
print(dict3)

{'University': 'Parul', 'Course': 'Artificial Intelligence', 'Branch': 'Electronics'}
{1: 'Parul', 2: 'Artificial Intelligence', 3: 'Electronics'}
dict_keys([1, 2, 3])
dict_values(['Parul', 'Artificial Intelligence', 'Electronics'])
{'one': 'This is an value of Key ONE', 2: 'This is TWO '}

In [17]:
print(len(dict1))
print(type(dict1))

3
<class 'dict'>

In [29]:
x=dict1['University']
print(x)

y = dict2[2]
y

Parul

'Artificial Intelligence'

In [21]:
from math import pi
pi

3.141592653589793

In [39]:
#find the area of circle

r = 5
area = pi*r*r

print(area)

78.53981633974483

In [41]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
#program to make simple calculator that can add, substract, mul, division

#this function adds two numbers
def add(x,y):
    return x+y

#this function subtract two numbers
def subtract(x,y):
    return x-y

#this function multiplies two numbers
def multiply(x,y):
    return x*y

#this function division two numbers
def divide(x,y):
    return x/y

print("select operation")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if choice == '1':
    print(num1, "+",num2, add(num1,num2))

elif choice == '2':
    print(num1, "-",num2, subtract(num1,num2))
    
elif choice == '3':
    print(num1, "*",num2, multiply(num1,num2))
    
elif choice == '4':
    print(num1, "/",num2, divide(num1,num2))
    
else:
    print("Invalid Input")

select operation
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 2
Enter the first number: 34
Enter the second number: 56
34 - 56 -22

In [44]:
list

list

In [ ]:
!pip install <package name>
!conda install < package name>

# Python Conditional Statement

In [2]:
#If statement

num= 5
if num > 0:
    print(num, "is a Positive Number")
print("This statement is true")

5 is a Positive Number
This statement is true

In [5]:
#if else statement

num= 5
if num > 0:
    print(num, "is a Positive Number")
else:
    print("Negetive Number")

5 is a Positive Number

In [6]:
#nested if

num= 5
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negetive Number")
    

    print("Negetive Number")

Positive number